@charset "UTF-8";
/* CSS Document */

body {
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	width:90%;
	overflow:hidden;
	
}

.subMenuItem {
		display:none;
}

#header {
	font-size: 1.6em;
	margin-left: 4em;
	margin-top: .5em;
	margin-bottom: .5em;
	font-family:"Courier New";
	min-width:800px;
	position:static;
}
#header2 {
	color:#F00;
	font-size:.9em;	
}

#stuff {
	min-width:2200px;

}

#sideMenu {
	font-size:16px;
	float:left;
	margin-left: 2em;
	margin-top: .2em;
	margin-right: 0;
	line-height: 1.8em;
	list-style:none;
	cursor:pointer;
	width:180px;
	font-family: "Courier New", Courier, monospace;
	
}

#contentDiv {
	float:left;
	margin-left: 2em;
	width: 1000px;
	height: 550px;
	margin-bottom: 6em;
	font-family: "Courier New", Courier, monospace;
	padding: 0px;
}

#innerContainer, .HomeContent {
	
	position:relative;
	max-width:100%;
	font-family: "American Typewriter", Courier, monospace;
	line-height:1.5em;
}

.PicturesContent{
	max-width:100%;
	width:1000px;	
}

.AboutUsContent,  .ContactUsContent, .AustraliaUnderwaterContent, .AustraliaPlacesContent, .AustraliaWildlifeContent, .BahamasUnderwaterContent, .BahamasPlacesContent, 
	.EtretatContent, .HonfleurContent, .ParisContent, .JoshuaTreeContent, .LondonContent, .MarthasVineyardContent, .NewYorkCityContent,
	 .NewZealandContent, .WeddingsContent, .CaliforniaContent, .TimelapsesContent, .PhotoAlbums {
	position:relative;
	max-width:100%;
	font-family: "American Typewriter", Courier, monospace;
	float:left;
	background-color:#FFF;
	min-width:91%;
	max-height:100%;
	line-height: 1em;
	margin-bottom:2em;
	display:none;	
}

.ContactUsContent {
	line-height: 3em;
	margin-bottom:2em;
	color:#000;
	margin-top:2em;	
}

.menuHeadSelected {
	color: red;
	cursor:pointer;
}
.subItemSelected {
	color: red;
	cursor:pointer;
}

.subMenu, .subMenuSelected {
	font-size:.8em;
	margin-left: -2em;
	list-style:none;
	line-height:2em;
	margin-right:0;
	list-style:none;
	cursor:pointer;
	font-family: "Courier New", Courier, monospace;
}

.subMenuSelected {
	display:block;
	cursor:pointer;	
}

.hoverOn {
	color: red;	
}

.AboutUsSection {
	float:left;
	margin-left:25px;
	margin-right:80px;	
}

.video { 
text-decoration:none;
color:#000;

}

.video:hover {
color:#F00;	
}
.video img {border:2px solid #eee; margin:8px}
.video img:hover {-webkit-box-shadow: 0px 0px 4px #000; 
-moz-box-shadow: 0px 0px 4px #000;}
