body {
	background-color: #ffffff;
	color: #333333;
}

a:link,
a:visited {
	color: #9a9a9a;
}

a:active,
a:hover {
	color: #606060;
}
	
#folders_container,
#bottom_container,
#top_container,
.top_navigation {
	border-width: 0px;	
}
	
#right_arrow,
#left_arrow,
#right_fast_arrow,
#left_fast_arrow {
	height: 40px;
	width: 20px;
}

#right_fast_arrow,
#left_fast_arrow {
	margin: 0 20px;
}

#bottom_container {
	margin-top: 30px;
}
	
#main_image .loader,
#main_image img {
	border: none 3px #ababab;
}
	
#extras {
	border: none 1px #ababab;
	margin: 10px auto;		
	padding: 5px;
}

#extras ul li {
	border-left-color: #333333;
}

#bottom_container {
	border-top-color: #ababab;	
}

#folders_container,
#top_container,
.top_navigation {
	border-bottom-color: #ababab;
}

.description {
	color: #666666;
}

.caption {
	color: #666666;
}

.thumbnails li {
	margin: 0 10px 10px 0;	
	border: none 3px #ababab;
	background-color: #ffffff;
}

.thumbnails li.active {
  border: none 3px #ababab;
}

.folders li a {
	background-color: #ffffff;
	border-style: double;
	border-width: 3px;
	border-color: #ababab;
	margin-right: 10px;				
	height: 40px; 
	width: 40px;
}

#slideshow {
	font-size:0.8em;	
}
